<!--
<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['/dashboard']" class="brand-logo">
            <img src=" favicon.ico " width="30 " height="30 " alt=" ">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a [routerLink]="['/mycomments']">My Posts</a></li>
            <li><a [routerLink]="['/comments']">Comments</a></li>
            <li><a (click)="sessionLogout()">LogOut</a></li>
        </ul>
    </div>
</nav>
-->
<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['/dashboard']" class="brand-logo">
            <img src=" favicon.ico " width="30 " height="30 " alt=" ">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/mycomments']"><i class="material-icons left">view_headline</i>MyPosts</a></li>
            <li><a [routerLink]="['/comments']"><i class="material-icons left">view_list</i>Comments</a></li>
            <li><a (click)="sessionLogout()"><i class="material-icons left">close</i>LogOut</a></li>
        </ul>
    </div>
</nav>