<!--
<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['/home']" class="brand-logo">
            <img src=" favicon.ico " width="30 " height="30 " alt=" ">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a [routerLink]="['/signup']">SignUp</a></li>
        </ul>
    </div>
</nav>
-->

<nav>
    <div class="nav-wrapper">
        <a [routerLink]="['/home']" class="brand-logo">
            <img src=" favicon.ico " width="30 " height="30 " alt=" ">
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/signup']"><i class="material-icons left">account_circle
            </i>SignUp</a></li>
        </ul>
    </div>
</nav>